
.DS_Store
vagrant/catalog/posters.db
vagrant/catalog/.idea/catalog.iml
vagrant/catalog/.idea/encodings.xml
vagrant/catalog/.idea/misc.xml
vagrant/catalog/.idea/modules.xml
vagrant/catalog/.idea/vcs.xml
vagrant/catalog/.idea/workspace.xml
