html, body {
     margin: 10;
     padding: 0;
     height: 100%;
     min-height: 100%;
     background-image: url("../img/hero3_img.png");
     background-position:-100px 100px;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-color: #000000;
     font-family: upgrade, sans-serif;
     font-style: normal;
     font-weight: 300;
     color: #FFFFFF;
     opacity: 1;
     transition: .5s opacity;
}
 body.fade-out {
     opacity: 0;
     transition: none;
}
 .flashes {
     font-style: italic;
     padding-right: 25px;
}
 .flashes #error {
    color: red;
 }
 .flashes #success {
    color: green;
 }
 .hero-text {
     font-family: upgrade, sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 5em;
}
#definition {
    font-family: courier, regular;
    font-size: 1em;
    margin-left: 5px;
    color: rgba(255,255,255,.5);
}
 #herofooterclick {
     text-decoration: none;
     color: white;
     font-size: 2em;
     font-weight: 600;
}
 #herofooterclick a:hover {
     text-decoration: none;
     color: white;
     font-weight: 600;
}
 #herofooterclick a {
     text-decoration: none;
     color: white;
     font-weight: 600;
 }
 #herofooterclick a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
 .navbar-brand {
    font-weight: 600;
 }
 .nav-link {
    color: rgba(255,255,255,.5);
 }
 #navTest {
     z-index: 2;
     padding-bottom: 16px;
}
 #navbarToggler {
/*     color: yellow;*/
 }
 #heroWrapper {
     min-height: 100%;
/*     padding-left: 0;
     padding-right: 0;*/
     position: absolute;
     top: 40%;
     width: 100%;
     z-index: 1;
     height: calc( 100vh - 110px );
          -webkit-transform: translate3d(0, 20%, 0);
     transform: translate3d(0, 20%, 0);
     transition: opacity 1s, z-index 2s;
}
 #hero .tagline {
     position: absolute;
     top: 40%;
     -webkit-transform: translate3d(0, -50%, 0);
     transform: translate3d(0, -50%, 0);
     padding-left: 0;
     transition: all 0.5s;
     /*TODO: this needs to be set for different view sizes to center the tagline*/
/*     margin-left: 0px;*/
}

/* #headingRow {
     margin-right: 0px;
 }*/

 .dropdown-menu {
    background-color: black;
 }
  .dropdown-menu:hover {
    background-color: black;
  }
 .dropdown-item {
    color: rgba(255,255,255,.5);
    /*text-transform: uppercase;*/
 }

 .dropdown-item:hover {
    color: rgba(255,255,255);
    background-color: black;
    /*text-transform: uppercase;*/
 }
 .container-fluid {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
}
 #page {
     min-height: 100%;
     height: 100%;
     opacity: 1;
     -webkit-transform: translate(0);
     -webkit-transition: all 200ms ease-in-out 0;
}
 .nav-wrap {
     overflow: hidden;
}
 .posterImg {
     margin-bottom: 15px;
     margin-top: 15px;
/*     max-width: 540px;
     max-height: 816px;*/
}
 #posterInfo {
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
 }
 .img-thumbnail {
/*     min-width: 200px;
     max-height: 325px;*/
     min-width: 150px;
     max-width: 150px;
     max-height: 245px;
}
 .searchResults {
     list-style-type: none;
     padding-left: 0px;
}
 .searchItem {
     padding: 0px 12px 10px 12px;
}
 .searchItemImg {
     text-align: center;
     padding-top: 15px;
}
 .searchItemLink {
     text-align: center;
}
 .searchItemLink a {
    color: rgba(255,255,255,.75);
 }
 .searchItemLink a:hover {
    color: rgba(255,255,255);
    text-decoration: none;
 }
 .categoryHeading {
     text-transform: uppercase;
     font-weight: 600;
 }
 .categoryHeading h2 {
    font-weight: 600;
 }
 .categoryList {
     list-style-type: none;
     padding-left: 0px;
     font-size: 1.25em;
}
 .listLink {
    text-decoration: none;
    color: rgba(255,255,255,.75);
 }
  .listLink:hover {
    text-decoration: none;
    color: rgba(255,255,255);
  }
  #createdBy {
    font-size: .80em;
    font-style: italic;
  }
 .menu {
     float: left;
     visibility: hidden;
     position: relative;
     left: -100%;
     transition-duration: 0.5s;
     -webkit-transition-duration: 0.5s;
}
 .menu.active {
     visibility: visible;
     left: 0;
     transition-duration: 0.5s;
     -webkit-transition-duration: 0.5s;
}
 .menu ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}
 .menu ul li a {
     margin: 0.5em;
     padding: 0;
     display: inline-block;
     text-transform: uppercase;
     color: rgba(255, 255, 255, .5);
}
 .menu.active ul li a {
     margin: 0.5em;
     padding: 0;
     display: inline-block;
     text-transform: uppercase;
}

 .menu.active a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255);
 }
  .custom_menu ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}
 .custom_menu ul li a {
     margin: 0.5em;
     padding: 0;
     display: inline-block;
     text-transform: uppercase;
     color: rgba(255, 255, 255, .5);
}
 .custom_menu.active ul li a {
     margin: 0.5em;
     padding: 0;
     display: inline-block;
     text-transform: uppercase;
}

 .custom_menu.active a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255);
 }
 .right {
     content: '';
     display: inline-block;
     margin-left: 0.75em;
     width: .5em;
     height: .5em;
     border-top: 0.1em solid #FFF;
     border-right: 0.1em solid #FFF;
     transition-duration: 0.5s;
     -webkit-transition-duration: 0.5s;
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .right.active {
     -moz-transform: rotate(-135deg);
     -webkit-transform: rotate(-135deg);
     transform: rotate(-135deg);
     transition-duration: 0.5s;
     -webkit-transition-duration: 0.5s;
}
 #slide-menu {
     padding-left: 0px;
}
 #slide-menu-card {
     background-color: rgba(0, 0, 0, .5);
     padding: 0px;
 }
 .slide-menu-item {
    /*display: inline;*/
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
 }
 .slide-menu-item a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
 }
 .entryForm {
     max-width: 50%;
}
 .form-buttons {
     text-align: center;
}
 .text-input-field {
     min-width: 200px;
}
 .date-input-field {
     min-width: 70px;
     /*max-width: 70px;*/
}
 #deleteLink {
     margin-top: 10px;
}

 #deleteLink a {
    color: rgba(255,255,255,.5);
 }
 #deleteLink a:hover {
    color: rgba(255,255,255);
    text-decoration: none;
 }
 #userIcon {
     border-radius: 50%;
     margin-right: 15px;
}
 @media (max-width: 1083px) {
     .hero-text {
         font-family: upgrade, sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 3.50em;
    }
 }
 @media (max-width: 768px) {
     .hero-text {
         font-family: upgrade, sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 2.50em;
    }
    #definition {
        font-size: .75em;
        margin-left: 0px;
    }
     .heading-text {
         font-size: 1.5em;
    }
     .searchItemImg {
         text-align: center;
         padding-top: 15px;
    }
     .searchItemLink {
         text-align: center;
    }
     .right {
         margin-left: 0.25em;
    }
     #slide-menu {
         padding-left: 0px;
    }
     .form-buttons {
         text-align: center;
    }
     .entryForm {
         max-width: 100%;
    }
}
 @media (max-width: 576px) {
     .searchItem {
         padding: 0px 10px 10px 10px;
    }
     .searchItemImg {
         text-align: center;
         padding-top: 15px;
    }
     .searchItemLink {
         text-align: center;
    }
}
 @media (max-width: 360px) {
     .hero-text {
         font-family: upgrade, sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 2em;
    }
    #definition {
        font-size: .5em;
        margin-left: 0px;
    }
     .herofooter {
         font-size: 1.5em;
    }
     #herofooterclick {
        font-size: 1.5em;
     }
     .heading-text {
         font-size: 1em;
    }
     #hero .tagline {
         margin-left: -30px;
    }
}
 .alert{
     text-align:center;
}
 .custom-file {
     margin-top: 7px;
}
 #img_contain{
     text-align: center;
     margin-bottom: 15px;
}
 .imgInp{
     width:150px;
     margin-top:5px;
     padding:5px;
     background-color:#d3d3d3;
}
 #img_container {
     max-height:250px;
     display:block;
     padding:5px;
     padding-bottom: 10px;
     margin-bottom;
     10px;
     text-align: center;
}
 .loading{
     animation:blinkingText ease 2.5s infinite;
}
 .custom-file-label{
     cursor:pointer;
}
 @keyframes blinkingText{
     0%{
         color: #000;
    }
     50%{
         color: #transparent;
    }
     99%{
         color:transparent;
    }
     100%{
         color:#000;
    }
}
