html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #eee;
}

ul {
	width: 969px;
	margin: 100px auto;

}

ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
	width: 320px;
	margin-bottom: 50px;
}

.img-box {
	width: 230px;
	height: 350px;
	background-color: red;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: relative;
}

.img {
	background-image: url('static/img/empire_strikes_back.jpeg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	height: 99.94%;
	position: absolute;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.img.active {
	width: 50%;
	height: 50%;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.headline {
	width: 50%;
	height: 50%;
	position: absolute;
	-webkit-transform: translate(210%, 0px);
	-ms-transform: translate(210%, 0px);
	-o-transform: translate(210%, 0px);
	transform: translate(210%, 0px);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.headline.active {
	-webkit-transform: translate(110%, 0px);
	-ms-transform: translate(110%, 0px);
	-o-transform: translate(110%, 0px);
	transform: translate(110%, 0px);
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.headline h2 {
	font-family: 'Lato';
	font-weight: 300;
	color: #333;
	font-size: 1.7em;
	width: 80%;
}

.text {
	width: 100%;
	height: 50%;
	background-color: #ECECEC;
	display: block;
	margin-top: 100%;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.text.active {
	margin-top: 50%;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.text p {
	font-family: 'Lato';
	font-weight: 400;
	color: #333;
	font-size: 1em;
	width: 80%;
	margin: 10px auto;
	padding-top: 20px;
}

.text a {
	text-decoration: none;
	font-family: 'Lato';
	font-weight: 700;
	width: 80%;
	margin-left: 10%;
	color: #444;
}