{% extends "layout.html" %}

{% block title %}Stick and Burn - Login{% endblock %}

{% block head %}
  {{ super() }}

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
  <!--meta name="google-signin-client_id" content="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"-->

  <script>
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '1027301706801-4npfvv2921jdgcrs7ltdgg9pnq9els80.apps.googleusercontent.com',
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  </script>


  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

{% endblock %}

{% block content %}

  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Login with OAuth 2.0 </h1>

    </div>
  </div>

  <div id="result"></div>

  <button  class="g-signin2" id="signinButton">Sign in with Google</button>
  <!-- Add where you want your sign-in button to render -->
  <!-- Use an image that follows the branding guidelines in a real app -->

  <script>
    $('#signinButton').click(function() {
      auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);

    });
  </script>

<!--END NEW GOOGLE BUTTON -->

  <!--NEW GOOGLE SIGN IN CODE -->
  <script>
  function signInCallback(json) {
    console.log(json);
    // authResult = JSON.parse(json);
    authResult = json;
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized, for example:
      $('#signinButton').attr('style', 'display: none');
        //$('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
      // Send the code to the server
      $.ajax({
        type: 'POST',
        url: '/oauth/google',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            //$('#result').html('Login Successful!</br>'+ result['token'] + '')
            window.location.replace('{{ redirectURL }}');
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }
  </script>
  <script>
      var auth2;

      gapi.load('auth2', function() {
          auth2 = gapi.auth2.init();
      });

      function onSignIn() {
          var profile = auth2.currentUser.get().getBasicProfile();
          console.log('User logged in.');
          console.log('ID:', profile.getId());
          console.log('Name:', profile.getName());
          console.log('Image URL:', profile.getImageUrl());
          console.log('Email:', profile.getEmail());
      }
      <!--function signOut() {-->
          <!--auth2.signOut().then(function() {-->
          <!--console.log('User signed out.');-->
          <!--// Send the code to the server-->
          <!--$.ajax({-->
            <!--type: 'POST',-->
            <!--url: '/logout',-->
            <!--processData: false,-->
            <!--data: '',-->
            <!--contentType: 'application/octet-stream; charset=utf-8',-->
            <!--success: function(result) {-->
              <!--// Handle or verify the server response if necessary.-->
              <!--if (result) {-->
              <!--console.log('Successfully logged out, bitches!');-->
                <!--$('#result').html('Logout Successful!</br>'+ result + '');-->
              <!--} else if (authResult['error']) {-->
              <!--// todo: there is no authResult object here-->
                <!--console.log('There was an error: ' + authResult['error']);-->
              <!--} else {-->
                <!--$('#result').html('Failed to make a server-side call. Check your configuration and console.');-->
              <!--}-->
            <!--}-->
          <!--});-->

          <!--//window.location.replace("{{ url_for('show_home_page') }}");-->

          <!--});-->
      <!--}-->
  </script>


<!--END GOOGLE SIGN IN CODE -->


{% endblock %}
