{% extends "layout.html" %}

{% block title %}Delete Poster {% endblock %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h1 class="heading-text">Delete Poster</h1>
			</div>
		</div>
		<form action="#" method = 'post' enctype=multipart/form-data>
			<div class="row">
				<div class="col text-center">
					<h3>Are you sure you want to delete "{{poster_title}}"?</h3>
					<span class="flashes">This action cannot be undone.</span>
					<div class="form-group">
						<a href="{{url_for('edit_poster', poster_id=poster_id)}}" class="btn btn-outline-light my-2 my-sm-0">Cancel</a>
						<button class="btn btn-outline-light my-2 my-sm-0" type='submit' id="deleteButton">Delete Poster Entry</button>
					</div>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
