{% extends "layout.html" %}

{% block title %}Edit a Poster{% endblock %}
{% block content %}

	<div class = 'pane'>
		<div class = 'header'>
		<h1>Edit Poster {{posterObj.name}}</h1>
	</div>

		<!--TODO: add validation from bootstrap-->

	<form action="{{url_for('editPoster', poster_id = posterObj.id)}}" method = 'post' enctype=multipart/form-data>
	  <div class="form-group col-sm-3">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" id='title' value='{{posterObj.title}}'>
		</div>
	  </div>
		<div class="form-group col-sm-1">
			<div class="form-group">
				<label for="year">Release Date</label>
				<input type="text" class="form-control" name='year' id="year" value='{{posterObj.year}}'>
			</div>
		</div>
		<div class="form-group col-sm-3">
			<div class="form-group">
				<label for="director">Director</label>
				<input type="text" class="form-control" name='director' id="director" value='{{posterObj.director.name}}'>
			</div>
		</div>
		<div class="form-group col-sm-1">
			<div class="form-group">
				<label for="genre">Genre</label>
				<select name='genre' id="genre" class="custom-select">
					{% for genre in genres %}
						{% if genre.id == posterObj.genre_id %}
							<option selected value={{genre.id}}>{{genre.name}}</option>
						{% else %}
							<option value={{genre.id}}>{{genre.name}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group col-sm-3">
			<label for="poster_img">Poster Image</label>
			<div class="custom-file">
				<input type="file" class="custom-file-input" name='poster_img' id="poster_img" aria-describedby="inputGroupFileAddon01" text='{{posterObj.poster_img}}'>
				<label class="custom-file-label" for="poster_img">Choose file</label>
			</div>
		</div>
		<div class="form-group col-sm-3">
			<a href="{{url_for('showPosterInfo', poster_id = posterObj.id)}}" class="btn btn-outline-light my-2 my-sm-0">Cancel</a>
			<button class="btn btn-outline-light my-2 my-sm-0" type='submit'>Update Poster</button>
		</div>
	</form>

{% endblock %}
