{% extends "layout.html" %}

{% block title %}Stick and Burn{% endblock %}
{% block content %}

<div id="page">
		<div class="container-fluid" id="heroWrapper">
			<div class="row text-center" id="headingRow">
				<div class="col">
					<h1 class="hero-text">Welcome to Stick and Burn</h1>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col col-md-auto">
					<div id="definition"><u>Stick and Burn</u> [stik and burn] <i>noun</i>:<p>
						1.&nbsp;&nbsp;the act of film getting stuck in a projector gate and melting on screen for all to see
					</div>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" id="herofooterclick">
					<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						Browse Posters:
					</a>
				</div>
			</div>
			<div class="row justify-content-md-center" id="slide-menu">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
					<div class="collapse custom_menu" id="collapseExample">
						<div class="card card-body" id="slide-menu-card">
							<ul>
								<li class="slide-menu-item"><a href="{{url_for('show_years')}}">Year</a></li>
								<li class="slide-menu-item"><a href="{{url_for('show_genres')}}">Genre</a></li>
								<li class="slide-menu-item"><a href="{{url_for('show_directors')}}">Director</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<script>
	// function to slide out the menu for choosing categories
	$('.js-nav').click(function(){
		$('.menu').toggleClass('active');
		$('.right').toggleClass('active');
	});
</script>

{% endblock %}
