{% extends "layout.html" %}

{% block title %}Stick and Burn{% endblock %}
{% block content %}

<div id="page">
	<div class="container-fluid" id="heroWrapper">
		<div class="container" id="hero">
			<div class="container">
				<div class="row tagline">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col">
								<h1 class="hero-text">Welcome to Stick and Burn!</h1>
								<i class="fa fa-arrow-left" style="color: white"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 text-nowrap" style="padding-right: 0px;">
								<h2 id="herofooter">
									<!--TODO: move this style to the css file-->
									<a href="#" class="toggle-nav js-nav" id="herofooterclick" style="text-decoration: none;">Browse Posters By:
										<span class="right"></span>
									</a>
								</h2>
							</div>
							<!--TODO: need to fix the spacing and margins for iPad and iPhone 5-->
							<div class="col" id="slide-menu">
								<div class="nav-wrap">
								  <nav class="menu">
									<ul>
									  <li><a href="{{url_for('show_years')}}">Year</a></li>
									  <li><a href="{{url_for('show_genres')}}">Genre</a></li>
									  <li><a href="{{url_for('show_directors')}}">Director</a></li>
									</ul>
								  </nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
