{% extends "layout.html" %}

{% block title %}Add a New Poster{% endblock %}
{% block content %}

	<div class = 'pane'>
		<div class = 'header'>
		<h1>New Poster</h1>
	</div>

	<form action="{{url_for('addNewPoster')}}" method = 'post' enctype=multipart/form-data>
		Title:
	  <input type ='text' size='30' name='title' placeholder='sandwich'>
		<br>
		Year:
		<input type ='text' size='4' name='year' placeholder=''>
		<br>
		Director:
		<input type ='text' size='30' name='director' placeholder=''>
		<br>
		Image:
		<input type ='file' size='30' name='poster_img' accept="image/*">
		<br>
		<div class = 'genres'>
			<span class = 'name'><p>Genre</p></span>
				<select name='genre'>
					{% for genre in genres %}
					<option value={{genre.id}}>{{genre.name}}</option>
					{% endfor %}
				</select>
		</div>
		<a href='{{url_for('showHomePage')}}'>Cancel</a><input type='submit' value='Add Poster'>

{% endblock %}
