{% extends "layout.html" %}

{% block title %}Poster Info{% endblock %}
{% block content %}

	<div class = 'pane'>
		<div class = 'header'>
		<h1>Info for Poster</h1>
	</div>

<form action="#" method = 'post'>
	<h2>Just showing stuff for poster {{posterObj.id}}!</h2>
<br>
	{{posterObj.title}}<br>
	{{posterObj.year}}<br>
	{{posterObj.director.name}}<br>
	{{posterObj.genre.name}}<br>
  <a href="{{url_for('editPoster', poster_id = posterObj.id)}}">Edit</a><a href="{{url_for('showHomePage')}}">Cancel</a>

{% endblock %}
