{% extends "layout.html" %}

{% block title %}Search Results{% endblock %}
{% block content %}

<div class="container>
	<div class="row">
		<div class="col searchItem text-center">
			<h1 class="heading-text">Search Results</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% for poster in posters %}
			<div class="row align-items-center">
				<!--<li>-->
				<div class="col-sm searchItem searchItemImg">
					<a href="{{url_for('show_poster_info', poster_id=poster.id)}}">
						<img class="img-thumbnail" src='{{ url_for('static', filename='img/' + poster.poster_img) }}' width="200px">
					</a>
				</div>
				<div class="col searchItem searchItemLink">
					<a href="{{url_for('show_poster_info', poster_id=poster.id)}}">{{poster.title}} ({{poster.year}})</a>
				</div>
				<!--</li>-->
			</div>
			{% endfor %}
			<div class="row">
				<div class="col text-center mt-2">
					<a href="{{referrer}}" class="btn btn-outline-light my-2 my-sm-0">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
