{% extends "layout.html" %}

{% block title %}Search Results{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col text-center categoryHeading">
			<h1 class="categoryHeading"><span>Results for "{{search_heading}}"</span></h1>
		</div>
	</div>
	<div class="row mt-4">
        {% for poster in posters %}
		<div class="col">
            <div class="row align-items-center">
                <div class="col-sm searchItem searchItemImg">
                    <a href="{{url_for('show_poster_info', poster_id=poster.id)}}">
                        <img class="img-thumbnail" src="{{ url_for('static', filename='img/' + poster.poster_img.rsplit('.')[0] + '.thumbnail') }}" width="200px" height="325px">
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col searchItem searchItemLink">
                    <a href="{{url_for('show_poster_info', poster_id=poster.id)}}">{{poster.title}} ({{poster.year}})</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center mt-2">
            <a href="{{session['redirect_route']}}" class="btn btn-outline-light my-2 my-sm-0">Back to {{title}}</a>
        </div>
    </div>
</div>
{% endblock %}
