{% extends "layout.html" %}

{% block title %}Years{% endblock %}
{% block content %}

<div class="container">
	<div class='row'>
		<div class="col text-center categoryHeading">
			<h1 class="categoryHeading"><span>Years</span></h1>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col text-center">
			<ul class="categoryList">
				{% if years.count() == 0 %}
					<span>There are no posters in the database. Please add one.</span>
				{% else %}
					{% for uniqueYear in years %}
					<a href="{{ url_for('show_search_results', category = 'year', category_id = uniqueYear.year)}}">{{uniqueYear.year}}</a> <br>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<a href="{{url_for('show_home_page')}}" class="btn btn-outline-light my-2 my-sm-0"><i class="fa fa-home"></i> Home</a>
		</div>
	</div>
</div>

{% endblock %}
